<?xml version="1.0"?>

<launch>
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <!-- <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/> -->
    <arg name="sim" default="false" />
    <arg name="robot_ip" default="192.168.155.1" />

    <include file="$(find abb_driver)/launch/robot_interface.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>

    <!-- Spawn controllers and joint_state_publisher's for ABB IRB 120 -->
    <!-- Gazebo already publishes joint states: disable joint_state_publisher temporarily. -->
    <rosparam command="load" file="$(find irb120_description)/config/joint_names.yaml" />
    <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find irb120_description)/urdf/irb120.xacro'" />
    <!-- <node name="joint_states" pkg="joint_state_publisher" type="joint_state_publisher"/> -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- <include file="$(find rise_assembler_control)/launch/irb120_control.launch" /> -->
    <!-- <include file="$(find irb120_moveit)/launch/move_group.launch" /> -->
    <include file="$(find irb120_moveit)/launch/moveit_planing_execution.launch" />
    


    <!-- Start the publisher for the left hand (the only hand) -->
    <!-- <include file="$(find rise_assembler_control)/launch/gripper_control.launch" /> -->
    <!-- <node name="joint_states" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
    

</launch>
